*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --serif: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
  --sans: system-ui, sans-serif;
  --mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;

  font-family: var(--sans);
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: min(80ch, 100%);
  place-content: center;
  min-block-size: 100vh;
  padding: 8px 8px 1rem 8px;
  background-color: hsl(0 0% 90%);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 0 4ch;
  margin-block-start: 1em;
  color: hsl(0 0% 40%);
}

header > :first-child {
  font-family: var(--serif);
}

:is(main, footer) > * {
  margin-block-start: var(--flow-space, 1em);
}

h1, h2, h3 {
  font-family: var(--serif);
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: hsl(220 100% 30%);
  font-weight: 500;
  text-underline-position: under;
}

a:focus-visible {
  outline: currentColor 2px solid;
  outline-offset: 1px;
  border-radius: 1px;
}

:is(h1, h2, h3, header) a {
  color: currentColor;
}

hr {
  --flow-space: 2em;
  border: none;
  border-block-end: 1px solid hsl(0 0% 40%);
}

pre {
  overflow-x: auto;
  padding-block: 2ch;
  border-radius: 4px;
}

pre .line {
  padding-inline: 2ch;
}

code {
  font-family: var(--mono);
}

:not(pre) > code {
  background-color: hsl(0 0% 85%);
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

ul {
  list-style: "•  ";
  padding-inline-start: 2ch;
}

li + li {
  margin-block-start: 1em;
}

.visually-hidden:not(:focus-visible):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.callout {
  --flow-space: 2em;
  --accent: 20 100% 75%;
  padding: 12px;
  background-color: hsl(var(--accent) / 20%);
  border-inline-start: 4px solid hsl(var(--accent));
  border-radius: 4px;
}

sup > a, .footnotes > p a:first-child {
  text-decoration: none;
}

blockquote {
  padding-inline-start: 2rem;
}

img {
  display: block;
  inline-size: 100%;
}

image-grid {
  display: block;
  columns: 30ch;
  column-gap: 0;
}

image-grid > img {
  border: 2px solid transparent;
}
